#diary .ui-icon {
  background-image: url('img/wing_icon.png');
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}

.img-product {
  width: 110px;
}

.container-float {
  float: right;
  padding-top: 12px;
}